# 以”# ”号开头表示注释；
# 以”/ ”号开头表示目录；
# 以”* ”号通配多个字符；
# 以”？”号通配单个字符；
# 以方括号“[]”包含单个字符的匹配列表；
# 以叹号“!”表示不忽略(跟踪)匹配到的文件或目录；

# *.a       # 忽略所有 .a 结尾的文件
# *.[oa]  忽略所有 .a 或 .o 结尾的文件
# !lib.a    # 但 lib.a 除外
# /TODO     # 仅仅忽略项目根目录下的 TODO 文件，不包括 subdir/TODO
# build/    # 忽略 build/ 目录下的所有文件
# doc/*.txt # 会忽略 doc/notes.txt 但不包括 doc/server/arch.txt

# p
*.rar
*.zip
*.7z
*.png
*.jpg
*.jpeg
*.DBK

# 忽略 doc/ 目录及其所有子目录下的 .pdf 文件
doc/**/*.pdf

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib




# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf